body{
  margin: 0;
}
.head{
    padding-bottom: 180px;
    background: linear-gradient(45deg,#09C6F9,#045DE9);
    color: white;
    font-family: roboto;
}
.logo{
  padding-left: 25px;
  padding-top: 25px;
  height: 25px;
  width: 71px;

}
.heading{
  padding-top: 50px;
  font-size: 75px;
  text-align: center;
}
.name{
  font-size: 50px;
  text-align: center;
}
.box{
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
.generator{
  padding: 100px;
  padding-top: 320px;
  padding-bottom: 200px;
  padding-left: 100px;
}
.email{
  margin: 20px;
  padding: 10px;
}
.number{
  margin: 20px;
  padding: 10px;
}
.captcha{
  margin: 20px;
  margin-right: 500px;
  padding: 10px;
}
.ans{
  margin: 20px;
  padding: 10px;
}
button{
  margin: 20px;
  padding: 10px;
}
